:root{
  --primary-color: #FF4B5C;
  --primary-lighter: #FFA5AD;
  --secondary-color: #056674;
  --secondary-lighter: #82B3BA;
  --third-color: #66BFBF;
  --third-lighter: #B3DFDF;
  --darkTheme: #1F2E35;
  --lightTheme: #F2FCFF;
  --textDark: #1A3B34;
  --textLight: #F9FEFF;
  --body: 'Advent Pro', sans-serif;
  --hero-buttons: 'Fredoka One', cursive;
  --titles: 'Major Mono Display', monospace;
}

.dark-mode {
  --primary-color: #FF5D6C;
  --primary-lighter: #FFA5AD;
  --secondary-color: #1E7582;
  --secondary-lighter: #82B3BA;
  --third-color: #75C5C5;
  --third-lighter: #B3DFDF;
  --darkTheme: #F2FCFF;
  --lightTheme: #1F2E35;
  --textDark: #F9FEFF;
  --textLight: #1A3B34;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  outline-color: var(--primary-lighter);
}
*::selection {
  background-color: var(--primary-color);
  color: var(--textLight);
}

@font-face{
  font-family: ink-free;
  src: url(../fonts/ink-free-normal.ttf);
}

body {
  background-color: var(--lightTheme);
}
